@charset "utf-8";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  color: #fff;
  background-color: #242f9b;
}

.header-title {
  @media screen and (width <= 576px) {
    font-size: 24px;
  }
}

.sign-out-button {
  color: #fff;
}
