.home {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.home-container {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.home-item-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @media screen and (width <= 576px) {
    row-gap: 40px;
  }
}

.home-header {
  display: flex;
  column-gap: 24px;
  align-items: flex-start;
  justify-content: space-between;

  @media screen and (width <= 576px) {
    flex-direction: column;
    row-gap: 8px;
  }
}

.home-list-menu {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  text-align: right;
  list-style-type: none;

  @media screen and (width <= 576px) {
    flex-direction: row;
    column-gap: 32px;
    text-align: revert;
  }
}

.list-tab-container {
  overflow-x: auto;
}

.list-tab {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 16px;
  list-style: none;

  &.-overflow {
    min-width: 800px;
  }
}

.list-tab-item {
  min-width: 180px;

  @media screen and (width <= 576px) {
    min-width: 140px;
  }
}

.list-tab-button {
  width: 100%;
  min-height: 100%;
  padding: 12px 24px;
  font-weight: bold;
  color: #242f9b;
  border: solid 2px #242f9b;
  border-radius: 4px;

  @media screen and (width <= 576px) {
    padding: 8px 16px;
  }

  & > span {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  &:focus-visible {
    box-shadow: 0 0 8px rgb(0 0 0 / 50%);
  }

  &.active {
    color: #fff;
    background-color: #242f9b;
  }
}

.tasks-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.tasks-select {
  max-width: 100px;
}

.tasks-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
  gap: 24px;
  list-style-type: none;

  @media screen and (width <= 576px) {
    grid-template-columns: 1fr;
  }
}

.task-item-link {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: space-between;
  min-height: 100%;
  padding: 16px;
  color: #000;
  text-decoration: none;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.task-item-upper {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.task-item-lower {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  line-height: 1.3;
}

.task-item-label {
  align-self: flex-start;
  min-width: 44px;
  padding: 4px;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 8px;

  &.-done {
    background-color: #15803d;
  }
}

.task-item-title {
  display: -webkit-box;
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.task-item-limit,
.task-item-remaining-time {
  justify-self: flex-end;
  font-size: 0.85em;
}
