* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(code) {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:where(button) {
  padding: 0;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

:where(input, textarea, select) {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  font-feature-settings: inherit;
  line-height: inherit;
  color: inherit;
}
