@charset "utf-8";

.signin {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  max-width: 500px;
  margin-inline: auto;
}

.signin-heading {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
